@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: 15 23 42;
  --background: 248 250 252;
}

.dark {
  --foreground: 226 232 240;
  --background: 2 6 23;
}

body {
  color: rgb(var(--foreground));
  background: rgb(var(--background));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
