@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: 15 23 42;
  --background: 248 250 252;
}

body {
  color: rgb(var(--foreground));
  background: rgb(var(--background));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
